<div class="modal-body">
<% @restaurant.menus.each do |menu| %>
  <% menu.images.each do |image| %>
    <% if menu.images.attached? %>
      <%= image_tag image, style:"height: 300px; width: 200px; margin-left: 10px; margin-bottom: 10px;" %>
    <% end %>
  <% end %>
<% end %>
  
</div>




