<div class="menu-card">
	<%= image_tag "Black & Gold Creative Food Menu Potrait.png", style:"height: 400px; width: 300px;  border-radius: 20px; margin-bottom: 20px;" %> 
<br>
<b>Popular Dishes</b>
<p>Panneer Butter Masala, Buffet, Butter Chicken, Naan, Starters</p>

<b>People Say This Place Is Known For</b>
<p>Comfortable Seating Area, Best Restaurant, Relaxed Atmosphere, Family Place, Best Places, Best Food</p>

<b>Average Cost</b>
<span>₹1,200 for two people (approx.)</span>
<br>
<span style="font-size:10px;">Exclusive of applicable taxes and charges, if any<br>

How do we calculate cost for two?</span>
<br>
<b>Cash and Cards accepted</b>

</p>

</div>