/*form css */
.new_restaurant{
		width: 40%;
	} 

/*overview page css*/
	.menu-card{ 
		margin-top:20px;
		margin-left: 20px;
		
	} 

	.menu-card:hover{
		/*transform: scale(1.05);*/

  	box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
	}

	.show-image:hover{
		transform: scale(1.05);

  	box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
	}