 <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <div class="review-form">
             <%= render "reviews/form" %>
          </div>
        </div>
      </div>
    </div>
  </div>


 